<tr class="{{ row_class.next() }}">{# {% cache 3600 qlist req.id %} #}
 <td align="left">
  {% if req.priority %}*{% endif %}{% set song = req.song %}{% include "webview/t/songname.html" %}
 </td>
 <td align="left">
  {% for artist in req.song.artists.all() -%}
   {% set A = artist %}{% include "webview/t/artist.html" %}{% if loop.last %} {% else %}, {% endif %}
  {%- endfor %}
 </td>
 <td align="center">
  {{ req.song.length() }}
 </td>
 <td align="center">
  {{ req.requested|time("H:i") }}{% if req.playtime %} [{{ req.playtime|time("H:i") }}]{% endif %}
 </td>
 <td align="center">
  {{ req.eta|time("H:i") }}
 </td>
 <td align="left">
  {% set U = req.requested_by -%}
  {% include "webview/t/user.html" %}
 </td>
{# {% endcache %} #}
</tr>
