{% extends "base/base.html" %}

{% block title %}Site Links{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ MEDIA_URL }}email.png" alt="" />Site Links</h2>
Demovibes Links:<br>
<br>
<a href="http://code.google.com/p/demovibes" target="_new">Demovibes On Google Code</a> - The Demovibes project on Assembla.<br>
<a href="http://www.demovibes.org/" target="_new">Demovibes Collective</a> - The demovibes collective.<br>
<a href="http://www.pouet.net" target="_new">Pouet</a> - Get info on all the latest demoscene releases.
<br>
{% endblock %}
