{% extends "base/base.html" %}

{% block title %}Platform {{ object.title }}{% endblock %}

{% block main %}
<h2>Platform {{ object.title }}</h2>
{% if object.image %}<img src="{{ object.image.url }}">{% endif %}
{{object.description|linebreaks}}
<h2>Songs</h2>

<table class="songlist">
<tr>
 <th>Title</th>
 <th>Artist</th>
 <th>Song Length</th>
 <th>Status</th>
</tr>
{% for song in object.song_set.all %}
 <tr class="{% cycle 'row1' 'row2' %}">
{% include "webview/t/songlist.html" %}
 </tr>
{% endfor %}
</table>
{% endblock %}